body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #272a2f;
}
#map {
    height: 100vh;
    width: 100%;
}
.custom-control {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
}
.custom-control .content {
    display: none;
    margin-top: 10px;
}
.custom-control h3 {
    margin: 0;
    cursor: pointer;
    font-size: 18px;
}
.custom-control input[type="radio"] {
    margin-right: 5px;
}
.leaflet-control-year-switch {
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.year-switch-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}

.year-switch-button:hover {
    background: #0056b3;
}